<div class="card mb-3 shadow-sm">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="link-to-image" class="img-fluid rounded-start" alt="iPhone 16 Pro Max">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{product?.name}}m</h5>
          <p class="card-text">
            <strong>{{product?.brand}}</strong> <br>
            <strong>{{product?.category}}</strong><br>
            <strong></strong> 12 MP<br>
            <strong>Πλήθος Πυρήνων:</strong> Hexa Core<br>
            <strong>Χωρητικότητα:</strong> 256 GB
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <span class="text-success fw-bold"> @if (product?.quantity){Άμεσα διαθέσιμο}</span>
            <span class="text-primary fs-4">{{product?.price}}</span>
            <button class="btn btn-warning text-white">Προσθήκη στο Καλάθι</button>
          </div>
        </div>
      </div>
    </div>
  </div>

