<div class="flex flex-column">
    <app-product-search-filters (filtersChanged)="onFiltersChanged($event)"></app-product-search-filters>
  
  @for (product of products; track $index) {
    <app-product-list [product]="product"></app-product-list>
  }

  
    <!-- Pagination Controls -->
    <nav aria-label="Page navigation" class="mt-3">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="changePage(currentPage - 1)">Previous</button>
        </li>
        <li class="page-item" *ngFor="let page of totalPagesArray" [class.active]="page === currentPage">
          <button class="page-link" (click)="changePage(page)">{{ page }}</button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="changePage(currentPage + 1)">Next</button>
        </li>
      </ul>
    </nav>
  </div>
  
